.vba{
  width: 700px;
}
form{
    background-color: aliceblue;
    padding: 30px;
    margin-top: 50px;
    text-align: center;
    left: 380px;
}
label{
    width: 120px;
    margin-right: 50px;
    font-size: xx-large;
    margin-top: 70px;
}
.email{
    margin-left: 30px;
    background-color: azure;
}body{
    background-color: white;
      position: absolute;
      align-items: center;
      display: inline block;
      margin-left: 30px;
  }
  .card {
    margin-top: 90px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      padding: 20px;
      margin-left: 20px;
      text-align: center;
      font-family: arial;
      
    }
  .card img{
      width: 100%;
  
  }
  h2{
  color: black;
  }
  .a1{
      display: flex;
      margin-left: 100px;
      position: relative;
      display: inline-block;
      margin-top: 30px;
      color: rebeccapurple;
      border-radius: 5px;
  }
    
    .price {
      color: grey;
      font-size: 22px;
    }
    
    .card button {
      border: none;
      outline: 0;
      padding: 12px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }
    
    .card button:hover {
      opacity: 0.7;
    }
    .h{
      color: navy;
      font-size: x-large;
      margin-top: -110px;
    }
    .s1 img{
        width: 100%;
    }
    .mrt{
      width: 300px;
      margin-top: 40px;
      height: 50px;
background-color: lightblue;      border:2px solid black;
      border-radius: 50px;
      padding: 10px;
    }
    .email{width: 300px;
      margin-top: 40px;
      height: 50px;
background-color: lightblue;      border:2px solid black;
      border-radius: 50px;
      padding: 10px;}
      .sb1{
        width: 170px;
        background-color: aquamarine;
        height: 40px;
        border-radius: 50px;
        margin-top: 20px;
      }