li{
    display: inline;
    padding: 30px;
    font-size: xx-large;

    width: 120px;
}
.navbar1{margin-left: -210px;
    height: 60px;
    padding: 10px;
    box-shadow: 1px 4px 4px 1px rgb(255, 255,255);    
}
ul{

    margin-left: 50px;
}
